* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-font {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary-font {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
}

.info-font {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.hero-content {
    display: flex;
    height: 450px;
}

.hero-content-left {
    flex: 1 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-container {
    padding: 0 36px;
    width: 500px;
}

.hero-content-right {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.placeholder {
    background-color: rgba(128, 128, 128, 0.87);
    padding: 100px 120px;
}

.button {
    border-radius: 10px;
    color: white;
    background-color: #3882F6;
    padding: 8px 36px;
    font-weight: bold;
    display: inline-block;
}

.nav {
    display: flex;
    padding-top: 12px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

li {
    list-style-type: none;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    height: 450px;
    border: 2px solid red;
}

.icon {
}

.quote-section {
    height: 450px;
    background-color: #E5E7EB;
}
